.list {
    margin: 1em;
    animation: 1s fadeIn;
    
    table {
        width: 100%;
    }

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }

    td,
    th {
        width: 25%;
    }

    .list-row:hover {
        cursor: pointer;
        background-color: #fbfcff;
    }
}